@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&family=Electrolize&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
font-family: 'Electrolize', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Navbar Starting */

.imgc{
    width: 65px;
    height: 65px;
}

.h3n {
    font-size: 2rem;
    color: #e66700d5;
}

.container .nav-item .nav-link {
    color: darkblue;
    font-weight: 600;
    padding-left: 30px ;
}

.container .nav-item .nav-link:hover{
    color: #fd7e14;
}

.btn0 {
    padding: 20px 30px;
    outline: none;
    border: none;
    transition: all 0.4s ;
}

.btn0:first-child {
    color:  white;
    background-color: #fd7e14;
}

.btn0:last-child {
    color: #fd7e14;
    background-color: white;
}

.btn0:first-child:hover{
    color: #fd7e14;
    background-color: white;
}

.btn0:last-child:hover{
    color: white;
    background-color: #fd7e14;
}

/* Navbar Ending */

/* Section Başlangıç */

.main {
    background: url("şirket.jpg");
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    width: 100%;
}

.main h1{
    font-size: 5rem;
    font-weight: 800;
    color:darkblue;
    margin-top: 5rem;
}

.main input {
    height: 71px;
    width: 70%;
    border: none;
    margin-top: 3rem;
    padding: 15px;
}

.main .btn0 {
    height: 72px;
    border: none;
    outline: none;
    margin-left: -3px;
    color:  white;
    background-color: #fd7e14;
    width: 20%;
}

.main .btn0:hover{
    color: #fd7e14;
    background-color: white;
}

/* Section Orta */

.red {
    color: #fd7e14;
    font-weight: 700;
}

.ceta h1{
    font-size 3.5rem;
    color: darkblue;
    font-weight: 800;
}

.ceta .container-fluid .card .card-body img {
    height: 70px;
    width: 70px;
}

.ceta .container-fluid .card {
    cursor: pointer;
    color: white;
}

.ceta .card:hover {
    background-color: darkblue;
    transition: all 0.6s;

}

.btn3 {
    height: 70px;
    width: 70%;
    color: darkblue;
    border: 1px solid darkblue;
    background-color: white;
    cursor: pointer;
    background: transparent;
    margin-top: 15%;
    border-radius: 5px;
    transition: all 0.4s;
}

.btn3:hover{
    color: white;
    border: 1px solid white;
    background-color:darkblue;
}

/* Section Bitiş */

/* Resume Başlangıç */

.resume {
    background: linear-gradient(rgba(4,11, 75, 0.719), rgba(4, 26, 100, 0.73 )), url("resume.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.resume h1{
    font-size: 3.5rem;
    font-weight: 700;
}

.resume p{
    font-size: 2.5rem;
    font-weight: 600;
}

.resume .btn3 {
    color: white;
    border: 1px solid white;
}

.job {
    height: 100vh;
}

.job p:first-child {
    color:#fd7e14;
    font-weight: 700;
}

.job h1 {
    font-size: 3.2rem;
    color: darkblue;
    font-weight: 700;
}

.btn4{
    height: 60px;
    width: 100px;
    outline: none;
    border: none;
    color: white;
    background-color: #fd7e14;
    border-radius: 5px;
    transition: all 0.6s;
    
}

.btn4:hover {
    background-color: darkblue;
    color: white;
}

.job .job-img{
    height: 60%;
}

.job .p2 {
    font-weight: 700;
}

.apply {
    background: url("apply.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.apply .card {
    background-color:rgba(4,11, 75, 0.419);
    color: white;
    height: 300px;
}



.cir1 img{
    border-radius: 50%;
}

.apply h1{
    color: white;
    font-weight: 800;
}

.apply p:first-child{
    color: white;
    font-weight: 700;

}

/* Slider Başlangıç */

.avatar {
    height: 130px;
    border-radius: 50%;
}

.perac {
    font-size: 1.6rem;
    font-weight: 600;
}

.slider .container .row h{
    font-size: 1.9rem;
}

.btn5 {
    padding: 20px 25px; 
    border-radius: 7px;
    outline: none;
    border: none;
    color: white;
    background-color: #fd7e14;
}

.btn5:hover {
    color:white;
    background-color: darkblue;
}

.footer {
    background-color: darkblue;
    color: white;
}

.footer p{
    margin: 0;
    color: #ededed;
}

.link {
    cursor: pointer;
    transition: all 0.4s;
}

.link:hover {
    color: #fd7e14;
    padding-left: 10px;
}



.footer input {
    height: 45px;
    width: 70%;
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer button {
    height: 45px;
    width: 25%;
    outline: none;
    border: none;
    color: white;
    background-color:#fd7e14;
    border-radius: 5px;
    padding-left: -12px;
    border-top-right-radius: 5px;
    transition: all 0.4s;
    
}

.footer button:hover {
    color: white;
    background-color: #fd7d14cf;
}